//*********************************
// File: mixins.sass
// Project: HireSphere
//
// Author: Denes Solti
//*********************************
=media-max-width($mw)
  // media query cannot contain css variable
  @media (max-width: $mw)
    @content

=media-max-width-55()
  +media-max-width(55rem)
    @content

=bg-transition($from, $to)
  background-color: $from

  &:hover:not([disabled])
    background-color: $to

  &:not(.no-transition)
    will-change: background-color
    transition: background-color var(--default-transition-len)