//*********************************
// File: vars.sass
// Project: job-ad
//
// Author: Denes Solti
//*********************************
html
  --app-bg: #fafafa
  --app-icon-color: rgb(0, 184, 118)
  --border-radius-large: 10px
  --border-radius-small: 3px
  --button-active-color: #f3f3f3
  --button-primary-background: var(--app-icon-color)
  --button-primary-color: white
  --button-padding: .5rem
  --button-secondary-background: #159BE9
  --button-secondary-color: white
  --button-font-size: 1.2rem
  --default-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 2px 1px -1px rgba(0, 0, 0, .12), 0px 1px 3px 0px rgba(0, 0, 0, .20)
  --default-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.26)
  --default-transition-len: .4s
  --font-color: #212121FF
  --font-color-disabled: #BDBDBDFF
  --font-color-highlighted: #555555
  --font-size-small: .9rem
  --font-size-large: 1.3rem
  --font-family: Roboto, sans-serif
  --input-active-color: #5DACFFFF
  --input-boder-color: #1B1F2326
  --input-height: 2rem
  --loader-color: var(--input-active-color)
  --margin-normal: 1rem
  --margin-large: 2rem
  --margin-small: .5rem
  --padding-normal: 1rem
  --padding-small: .5rem
  --padding-tiny: .3rem
  --tag-background: #DBEDF0FF
  --tiny: 2px
  --widget-background-color: white