//-**********************************************
  * index.pug
  * Project: HireSphere
  *
  * Author: Denes Solti
  ***********************************************
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    if VERSION
      meta(name="commit-hash" content=`${VERSION}`)
  body
    script(type="module" src="src/scripts/app.js")
    #app